* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*Encabezado y Navegacion*/
.header__titulo {
    font-size: 2em;
    padding: 6px 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #000;
    background-color: #006ba6;
    z-index: 1;
}

.navegacion {
    align-self: flex-end;
    margin-right: 40px;
}

.navegacion__link {
    display: inline-block;
    padding: 16px 28px;
    border-radius: 10px 10px 0 0;
    transition-duration: .5s;
}

.header a {
    color: #fff;
}

.navegacion__link:hover {
    background-color: rgba(0, 0, 0, .2);
}

/*Contenedor*/
.contenedor {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 8em auto 4em;
}

/*Articulos*/
.contenido-principal {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

.articulo {
    /* width: 90%; */
    width: 340px;
    margin: 28px 0;
    margin: 0 9px 18px;
    position: relative;
    flex-grow: 1;
}

.articulo__imagen {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.articulo__contenido {
    padding: 20px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

.articulo__titulo {
    color: #bde0fe;
    letter-spacing: 2px;
}

.articulo__texto {
    margin: 12px 0;
    color: #fff;
}

.articulo__fecha {
    font-size: 14px;
    color: #aaa;
}

/* Boton ver articulo
address a {
    display: block;
    width: 100px;
    padding: 6px;
    border-radius: 6px;
    margin-left: auto;
    background-color: #006ba6;
    color: #fff;
} */

.articulo__link {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* display: block; */
    position: absolute;
    /* z-index: 1; */
}

.articulo:hover .articulo__texto {
    text-decoration: underline;
}

.articulo:hover .articulo__imagen {
    filter: brightness(0.7);
    transition-duration: .5s;
}

/*Aside*/
.mi-perfil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, .05);
    padding: 20px;
    margin: 12px 0;
    transition-duration: .5s;
}

.mi-perfil__contenido {
    color: #006ba6;
    font-size: 18px;
}

.mi-perfil__imagen {
    display: block;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
}

.mi-perfil:hover {
    background-color: rgba(0, 0, 0, .2);
}

.contenido-extra {
    width: 30%;
    margin-left: 10px;
}

.contenido-extra h2 {
    background-color: #006ba6;
    color: #fff;
    font-size: 18px;
    padding: 12px;
    border-radius: 0 30px 30px 0;
}

.contenido-extra__item {
    display: flex;
    border-left: 6px solid #006ba6;
    align-items: center;
    margin: 14px 0;
}

.item__texto span {
    font-size: 16px;
    font-weight: bold;
    color: #006ba6;
}

.item__texto {
    font-size: 14px;
    padding: 8px;
    color: #000;
}

.item__imagen img {
    width: 160px;
    height: 120px;
    object-fit: cover;
    display: block;
}

.contenido-extra__item:hover {
    border-color: rgba(0, 107, 166, .5);
    transition-duration: .5s;
}

.publicidad {
    display: block;
    width: 100%;
}

/*Footer*/
hr {
    margin: 6px;
}

footer {
    background-color: #fff;
}

.footer__contenido {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 16px 0;
}

.footer__titulo{
    align-self: center;
}

.footer__titulo a {
    font-size: 2.5em;
    font-weight: bold;
    color: #006ba6;
}

.footer__contenido p {
    font-weight: bold;
    line-height: 2;
}

.footer__contenido ul a {
    color: #555;
    font-size: 14px;
    line-height: 1.5;
}

.footer__redes-sociales {
    
}

.footer__publicidad {
    
}

footer h4 {
    text-align: center;
    padding: 16px 0;
}





/*Forumlario*/
.gris {
    background-color: #f0f0f0;
}

.contenedor-formulario {
    display: flex;
    width: 90%;
    max-width: 600px;
    margin: 8em auto 4em;
    flex-direction: column;
    background-color: #fff;
    padding: 50px;
    border-radius: 6px;
}

.contenedor-formulario h2 {
    margin-bottom: 16px;
}

.contenedor-formulario p {
    margin-bottom: 16px;
    font-size: 14px;
    color: #006ba6;
}

.fila label {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
}

.fila {
    margin: 10px 0;
}

.fila a {
    color: #006ba6;
}

.input-item, .input-item__radio {
    width: 100%;
    padding: 6px;
    margin: 6px 0;
}

.input-item {
    border: 2px solid #d0d0d0;
    border-radius: 4px;
}

.input-item::placeholder {
    color: #aaa;
}

.input-item:hover {
    background-color: rgba(0, 0, 0, .03);
}

.input-item:focus {
    outline: none;
    border: 2px solid #006ba6;
}

.btn-enviar {
    width: 100%;
    padding: 16px;
    border-radius: 6px;
    border: none;
    background-color: #006ba6;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition-duration: .5s;
}

.btn-enviar:hover {
    background-color: rgba(0, 107, 166, .8);
    cursor: pointer;
}